<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>
</head>
<body>
    Verify the email
    <p>Hello <%= username %>,</p>
    <p>Thank you for registration. Please use the given activation code below to activate your account.</p>
    <p><%= activationCode %>,</p>
</body>
</html>